    .subunit.SCT { fill: #ddc; }
    .subunit.WLS { fill: #cdd; }
    .subunit.NIR { fill: #cdc; }
    .subunit.ENG { fill: #dcd; }
    .subunit.IRL { fill: #FFFFFF }
    
    .subunit-label {
    fill: #777;
    fill-opacity: .5;
    font-size: 30px;
    font-weight: 300;
    text-anchor: middle;}
    
    svg {
      display:block;
      margin-left:45%;
      margin-right:auto;
      stroke:black;
      stroke-width:0.5;
      /*border: 1px solid black;*/
    }
    
    .header-container {
    width:40%;
    position:fixed;
    top:0px;
    }
    
    .header {
    height:800px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:800px;
    margin-right:60%;
    margin-top:15%;
    }
    
    #theTitle{
      font-size:45px;
      text-align:center;
    }
    
    #inputForm{
      text-align:center;
      font-size:20px;
      font-weight: bold;
    }
    
    input{
      font-size:15px;
      font-weight: bold;
    }
    
    
    
    
    